body{
    background-color: ivory;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
    text-align: center;
}
.header{
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: ivory;
    text-align: center;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    padding: 10px;
}

a{
    color: lightcoral;
    text-decoration: none;
    text-align: center;
}
a:hover{
    font-weight: bold;
}
.expheader{
    color: lightcoral;
    font-weight: bold;
}
li{
    color: darkslategrey;
    font-size: 14px;
}
ol{
    text-align: left;
}
.footer{
    background-color: cornflowerblue;
    color: ivory;
    text-align: center;
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 35px;
    padding: 5px;
    position: fixed;
}

